# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[**.{js,json,md,css,html}]
indent_size = 4
indent_style = tab
insert_final_newline = true
